<a href="https://colab.research.google.com/github/mtrrn1016/SC/blob/main/%EC%86%8C%EC%B0%BD_5%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수

## print()
### ,사용해 문자열 출력
### 문자형 간 기호 사용
### 서식을 사용해출력
%d,%x,%o = 정수
%f = 실수
%c = 한 글자
%s = 문자열

In [1]:
print("안녕하세요")

안녕하세요

## input()
input함수는 기본적으로 str타입

In [2]:
print('데이터를 입력하세요.')
userData = input()
print(userData)

데이터를 입력하세요.
7
7

In [3]:
userData = input('데이터를 입력하세요.')
print(userData)

데이터를 입력하세요.7
7

In [4]:
num=input("숫자를 입력하세요.")
print(num)
print(type(num))

숫자를 입력하세요.6
6
<class 'str'>

## 자료형변화
int(), str(), float(), bool()

In [5]:
num1=int("100")
print(num1)
print(type(num1))

100
<class 'int'>

In [6]:
num=int(input("숫자를 입력하세요."))
print(num)
print(type(num))

숫자를 입력하세요.7
7
<class 'int'>

## f-string

In [8]:
name = "Python"
version = 3.9
print(f"Hello, {name} Version {version}!")

Hello, Python Version 3.9!

In [9]:
item = "apple"
price = 1.5
quantity = 10
total = price + quantity
print(f"I bought {quantity} {item}s for ${total}.")

I bought 10 apples for $11.5.

# 연산자

## 산술연산자
+, -, *, **(거듭제곱), /(실수형), //(정수형), %(나머지)

In [10]:
print(10/2)
print(type( 10/2 ))
print(10/3)
print(type( 10/3))

5.0
<class 'float'>
3.3333333333333335
<class 'float'>

In [11]:
num1 =10
num2 = 3
result = int(num1/num2)
print(result)
print(type(result))

3
<class 'int'>

In [12]:
#변수에 값 넣기
a = 7
b = 3

#덧셈, 뺄셈, 곱셈, 거듭제곱
print(a+b)
print(a-b)
print(a*b)
print(a**b)

#나눗셈관련
print(a/b)
print(a//b)
print(a%b)

10
4
21
343
2.3333333333333335
2
1

In [17]:
total_seconds =367
minutes = total_seconds//60
seconds = total_seconds%60
print(minutes,"분",seconds, "초")

6 분 7 초

In [21]:
candy=53
friends= 8
each = candy//friends
remain = candy%friends
print("각각", each, "만큼 가져가고", remain, "개가 남는다.")

각각 6 만큼 가져가고 5 개가 남는다.

In [29]:
today = 0
after = 10
the_day = today+after-1
print(the_day)

9

## 문자열 연산자
*, + (문자열과 숫자 사이엔 사용 불가능)

In [23]:
print("안녕하세요",1)

안녕하세요 1

In [25]:
print("안녕하세요"*5)
print(5*"안녕하세요")

안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요
안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요

## 비교연산자
<, >, <=, >=, ==, !=

In [27]:
a=7
b=5

print("a==b : ", a==b)
print("a!=b : ", a!=b)
print("a>b : ", a>b)
print("a<b : ", a<b)
print("a>=b : ", a>=b)
print("a<=b : ", a<=b)

a==b :  False
a!=b :  True
a>b :  True
a<b :  False
a>=b :  True
a<=b :  False

In [28]:
x=int(input("숫자 x를 입력하세요."))
y=int(input("숫자 y를 입력하세요."))

print("x>y : ", x>y)
print("x==y : ", x==y)
print("x<=y : ", x<=y)

숫자 x를 입력하세요.3
숫자 y를 입력하세요.1
x>y :  True
x==y :  False
x<=y :  False

In [30]:
my_age=int(input("당신의 나이를 입력하세요 : "))
friend_age=int(input("친구의 나이를 입력하세요 : "))
print("당신이 친구보다 나이가 많나요? ", my_age>friend_age)
print("당신과 친구의 나이는 같나요?", my_age==friend_age)

당신의 나이를 입력하세요 : 23
친구의 나이를 입력하세요 : 23
당신이 친구보다 나이가 많나요?  False
당신과 친구의 나이는 같나요? True

## 논리 연산자
and, or, not

In [40]:
num1= 10
num2 = 20
num3 = 15

print(f"({num1} < {num2}) and ({num2} > {num3}) : ", (num1 < num2) and (num2 > num3))
print(f"({num1} == {num2}) and ({num3} > {num1}) :", (num1 ==num2) and (num3 > num1))
print(f"({num1} < {num3}) and ({num2} <= {num3}) :", (num1 < num3) and (num2 <= num3))

print(f"({num1} < {num2}) or ({num2} > {num3}) : ", (num1 < num2) or (num2 > num3))
print(f"({num1} == {num2}) or ({num3} > {num1}) :", (num1 ==num2) or (num3 > num1))
print(f"({num1} < {num3}) or ({num2} <= {num3}) :", (num1 < num3) or (num2 <= num3))

print(f"not({num1} == {num2}) : ", not(num1 == num2))
print(f"not({num1} < {num3}) : ", not(num1 < num3))

(10 < 20) and (20 > 15) :  True
(10 == 20) and (15 > 10) : False
(10 < 15) and (20 <= 15) : False
(10 < 20) or (20 > 15) :  True
(10 == 20) or (15 > 10) : True
(10 < 15) or (20 <= 15) : True
not(10 == 20) :  True
not(10 < 15) :  False

In [32]:
my_age = int(input("당신의 나이를 입력하세요 : "))
friends_age = int(input("친구의 나이를 입력하세요 : "))

print("당신과 친구 모두 20세 이상인가요? "and (my_age >= 20) and (friends_age >= 20))
print("당신 또는 친구 중 한 명이라도 10세 이하인가요? " and (my_age <= 10) or (friends_age <= 10))
print("당신과 친구의 나이는 같지않나요? " and (my_age != friend_age))

당신의 나이를 입력하세요 : 23
친구의 나이를 입력하세요 : 23
True
False
False

# 제미나이 이용 문제 만들기

## 문제: 나이와 이름으로 메시지 만들기 (빈칸 채우기)

나의 질문 : 이번엔 아까 문제에 산술 연산자와 문자열 연산자를 섞은 문제를 내줘. 문제의 유형은 빈칸넣기로 해줘

사용자로부터 나이와 이름을 입력받아 다음 조건을 확인하고, 조건에 따라 메시지를 출력하는 프로그램을 완성하세요.

**조건:**
나이가 10세 이상이고 20세 이하인가?

**출력:**
조건을 만족하면 "안녕하세요, [이름]! 당신은 [나이]살이군요. 멋진 나이입니다!" 를 출력하세요.
조건을 만족하지 않으면 "[이름]님, 죄송하지만 이 프로그램은 10세 이상 20세 이하만 사용 가능합니다." 를 [나이] 번 반복하여 출력하세요.

아래 코드의 빈칸을 채워 프로그램을 완성하세요.

In [ ]:
# 여기에 코드를 작성하세요.
age = int(input("나이를 입력하세요: "))
name = input("이름을 입력하세요: ")

if (age >= 10) and (age <= 20):
    print(f"안녕하세요, {name}! 당신은 {age}살이군요. 멋진 나이입니다!")
else:
    print(f"{name}님, 죄송하지만 이 프로그램은 10세 이상 20세 이하만 사용 가능합니다." * age)

정답: >=, and, <=, *

## 문제: 나이와 성별 확인하기

나의 질문 : 비교연산자와 논리연산자를 이용한 문제 하나 만들어줘

사용자로부터 나이와 성별(남성: 'm', 여성: 'f')을 입력받아 다음 조건을 모두 만족하는지 확인하는 프로그램을 작성하세요.

1. 나이가 20세 이상인가?
2. 성별이 'm' 또는 'f' 인가?

위 두 가지 조건을 모두 만족하면 "입력하신 정보가 유효합니다."를 출력하고, 하나라도 만족하지 않으면 "입력하신 정보가 유효하지 않습니다."를 출력하세요.

In [33]:
# 여기에 코드를 작성하세요.
age = int(input("나이를 입력하세요 : "))
sex = input("성별을 입력하세요 (남성: 'm', 여성: 'f') : ")

나이를 입력하세요 : 34
성별을 입력하세요 (남성: 'm', 여성: 'f') : f

## 문제: 비밀번호 확인

나의 질문 : 문자열 연산자와 논리연산자를 이용한 간단한 문제 내줘

사용자로부터 비밀번호를 입력받아 다음 두 조건을 모두 만족하는지 확인하는 프로그램을 작성하세요.

1. 비밀번호가 8자 이상인가?
2. 비밀번호에 '!' 또는 '#' 문자가 포함되어 있는가?

위 두 가지 조건을 모두 만족하면 "비밀번호가 안전합니다."를 출력하고, 하나라도 만족하지 않으면 "비밀번호가 안전하지 않습니다."를 출력하세요.

In [38]:
# 여기에 코드를 작성하세요.
password = input("비밀번호를 입력하세요: ")

if len(password) >= 8 and ('!' in password or '#' in password):
    print("비밀번호가 안전합니다.")
else:
    print("비밀번호가 안전하지 않습니다.")